################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.pdb
/bot595/messages/obj/Debug
/bot595/messages/obj/MCD/Debug
/bot595/obj/MCD/Debug
/bin/PressmonClient.dll.config
/bin/WikitionaryClient.dll.config
/bin/WordAPIClient.dll.config
/bin/TableStorageClient.dll.config
